.deductions{
    margin-top: 10px;
    padding: 8px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}

.deductions > form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
}